*.pyc 
*.docs
proxytest.py
*.tmp
*/migrations/*
*/__pycache__/*
*/文档/*
static-/*
*.pem
*.json
*.md
*.sock
*.idea
log/*
common/logs/*
logs/*
files/*
images/*
property/settings.py
property/cert/*
docs/卡密.xlsx
consumer.py