.title{
  margin-top: 20px;
  width: 100%;
  border-bottom:2px solid #ff8000;
  font-size: 20px;
}
.second{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content .pre{
    border:none;
    background-color: white;
    width:100%;
    white-space: pre-wrap;
    min-height: 300px;
}
.pull-left{
  padding-top:10px;
  display: flex;
  width:100%;
  border-top: 1px solid #DCDFE6;
  margin-bottom: 40px;
}
.logo{
  border-radius: 10px;
}
.logo img{
  margin-top:5px;
  width:50px;
  height: 50px;
  border-radius: 25px; 
  margin-right:10px;
}
.company{  
  color:#606266;
}

.app{
  width:100%;
  text-align: center;
  margin-bottom: 20px;
}

.app img{
  
  width:130px;
  height: 130px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #E4E7ED;
}
.app .txt{
  margin-top:10px;
  color:#ff8000;
  font-weight: bold;
}